<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h6> <%= item1 %></h6>
    <h6> <%= item2 %></h6>
    <h6> <%= item3 %></h6>   
    <h6> <%= item4 %></h6>
    <h6> <%= item5 %></h6>
</body>
</html>
